.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background: linear-gradient(to right top, #fe7905, #1d90bd);    
    border-radius: 10px;
    color: #3d0f2b;
}

.hero p {
    flex: 1;
}

.hero img {
    width: 500px;
    height: auto;
}

.servicesContainer {
    background-color:  #fe7905;
    border-radius: 10px;
    color: #3d0f2b;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: #3d0f2b;
    border-radius: 10px;
    padding: 1rem;
    color: #fe7905;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}