:root {
    --primary-color: yellow;
    --secondary-color: #ff6347;
}

body, html {
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
}

header {
    width: 100%;
    background: rgba(0, 0 , 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

nav button:hover {
    color: var(--primary-color);
}

nav .active {
    color: var(--primary-color);
}

h1,
h2,
h3 {
    color: white;
}

#content {
    position: relative;
    min-height: 70vh;
    background-image: url(./images/nyama.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px;
}

.hours {
    margin: 20px 0;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.cta-button {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: var(--primary-color);
    color: black;
}