@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Noto Serif";
}

footer {
    text-align: center;
    background: linear-gradient(to right top, #fe7905, #1d90bd);
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background: linear-gradient(to right top, #fe7905, #1d90bd);    
    border-radius: 10px;
    color: #3d0f2b;
}

.hero p {
    flex: 1;
}

.hero img {
    width: 500px;
    height: auto;
}

.servicesContainer {
    background-color:  #fe7905;
    border-radius: 10px;
    color: #3d0f2b;
}

.services,
.reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: #3d0f2b;
    border-radius: 10px;
    padding: 1rem;
    color: #fe7905;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.reviewsContainer {
    background-color: #3d0f2b;
    padding: 1rem;
    border-radius: 10px;
    color: #fe7905;
}

.reviewCard {
    color: #3d0f2b;
    background-color: #fe7905;
}

.reviews {
    grid-template-columns: repeat(5, 1fr);
}