@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
 --bg-color: #1F2937;
 --text-color: #fe7905;
}
body {
    font-family: "Noto Serif", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

footer {
    text-align: center;
    background-color: var(--text-color);
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    color: var(--bg-color);
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
}

.hero {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    border-radius: 10px;
}

.hero p {
    flex: 1;
}

.hero img {
    width: 500px;
    height: auto;
}

.servicesContainer, 
.mealsContainer {
    border-radius: 10px;
}

.services,
.reviews,
.meals,
.rooms,
.utilities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: var(--text-color);
    border-radius: 10px;
    padding: 1rem;
    color: var(--bg-color);    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center;
}

.card:hover {
    transform: scale(1.1) translateY(-3px);
}

.card img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    height: auto;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.contactForm > button {
    background-color: var(--text-color);
    color: var(--bg-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}